<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.upc.eetad.dsa.dsaqt1314g3.futbol.android"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-sdk android:minSdkVersion="10"
          android:targetSdkVersion="10"
          android:maxSdkVersion="19" />
      <uses-permission android:name="android.permission.INTERNET" />
    <application
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name" >
    <activity
        android:name="Login"
        android:noHistory="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
 
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="FutbolMainActivity" />
        <activity android:name="NoticiaDetail" />
        <activity android:name="NoticiasActivity" />
        <activity android:name="EquiposActivity" />
        <activity android:name="ClubDetail" />
        <activity android:name="EquipoDetail" />
        <activity android:name="CampeonatosActivity" />
        <activity android:name="CalendariosActivity" />
        <activity android:name="CalendarioDetail" />
        <activity android:name="ComentariosActivity" />
        <activity android:name="ComentarioDetail" />
        <activity android:name="JugadoresActivity" />
        <activity android:name="JugadorDetail" />
        <activity android:name="RetransmisionesActivity" />
        <activity android:name="RetransmisionDetail" />
        <activity android:name="WriteRetransmision" />
        <activity android:name="WriteNoticia" />
        <activity android:name="WriteComentario" />
    </application>
</manifest> 
